version: "3.4"
services:
  # TODO we're not actually testing the target image, we only build it and then run tests in separate containers
  yolean-kafka-cache:
    image: yolean/node-kafka-cache
    build: ../
    labels:
      - com.yolean.build-target
  zookeeper:
    image: solsson/kafka:1.0.0@sha256:17fdf1637426f45c93c65826670542e36b9f3394ede1cb61885c6a4befa8f72d
    entrypoint: ./bin/zookeeper-server-start.sh
    command:
    - ./config/zookeeper.properties
  kafka:
    image: solsson/kafka:1.0.0@sha256:17fdf1637426f45c93c65826670542e36b9f3394ede1cb61885c6a4befa8f72d
    links:
    - zookeeper
    entrypoint: ./bin/kafka-server-start.sh
    command:
    - ./config/server.properties
    - --override
    -   zookeeper.connect=zookeeper:2181
    - --override
    -   log.retention.hours=-1
    - --override
    -   log.dirs=/var/lib/kafka/data/topics
    - --override
    -   auto.create.topics.enable=true
  topic-client-basics-1:
    image: solsson/kafka-topic-client
    links:
      - zookeeper
      - kafka
    environment:
      TOPIC_NAME: build-contracts.basics.001
  topic-client-basics-2:
    image: solsson/kafka-topic-client
    links:
      - zookeeper
      - kafka
    environment:
      TOPIC_NAME: build-contracts.basics.002
  test-basics:
    depends_on:
    - yolean-kafka-cache
    build: ./basics
    labels:
      - com.yolean.build-contract
    links:
      - kafka
      - zookeeper
  itest:
    depends_on:
    - yolean-kafka-cache
    build: ../
    labels:
      - com.yolean.build-contract
    links:
      - kafka
      - zookeeper
    working_dir: /usr/src/yolean-kafka-cache
    entrypoint:
      - npm run itest
    # entrypoint:
    #   - tail
    #   - -f
    #   - /dev/null
    # volumes:
    #   - ../:/usr/src/yolean-kafka-cache
  kafkacat:
    image: solsson/kafkacat
    links:
      - kafka
      - zookeeper
    entrypoint:
      - tail
      - -f
      - /dev/null